@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'Rocher';
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}
@font-palette-values {
  --Grays: 10;
}
@font-palette-values --Mint {
  font-family: Rocher;
  base-palette: 7;
}

.header-container {
  height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
<<<<<<< HEAD
=======
    margin-top: 110px;
>>>>>>> b9186883abf96da171ebc2bbe3236f600d6e515a

    margin-top: 100px;

    margin-bottom: 0px;
}

  
  .text-container {
    width: 40%;
    text-align: center;
    margin: 50px;
    display:flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 100px; */
  }
  
  .title {
    font-family: "Montserrat", sans-serif;
    font-size: 4rem;
    /* font-size: 64px; */
    line-height: 1.2;
    font-weight: 900;
    letter-spacing: 1.5px;
  }
  .textWelcome{
    color:black;
    font-family: Rocher;
  }
  .textDev{
    color: black;
    font-palette: --Mint;
    font-family: Rocher;
    font-size:80px;
    text-align: center;
  }
  .button {
    width: 312px; /* Adjust button width for responsiveness */
    height: 44px;
    background-color: #3770FF;
    margin-top: 30px;
    border: none;
    color: #ffffff;
    text-size-adjust: 36px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button:hover {
    background-color: #4F8CFF;
  }
  .image-container {
<<<<<<< HEAD
    /* width: 100%; */
=======
    width: 50%;

>>>>>>> b9186883abf96da171ebc2bbe3236f600d6e515a
    /* height:200px; */
    /* position:relative; */
    /* height:200px; */
    
  }
 
  .image {
    /* max-width: 80%;  */
    height: 500px;
    /* width:50%; */
    /* margin-left: 70px; */
    /* position:absolute;
    top:0; */
  }
  .image-container-inner {
    position: relative;
  }
  
  .image-container-inner .flex {
    position: absolute;
    top: 0;
    right: 0;
  }
  .imgBorderWraper{
    margin-left: 100px;
    width: 60%;
    padding: 0px;
  }
  /* Media Query for smaller screens */
  @media only screen and (max-width: 1200px){
    .title{
      font-size: 3.5rem;
    }
  }
  @media only screen and (max-width: 1068px){
    .title{
      font-size: 3rem;
    }
  }
  @media only screen and (max-width: 768px) {
    .header-container {
      margin-top: 10rem;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 250px;
    }
  
    .text-container,
    .image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      margin-bottom: 30px;
    }
    .text-container{
      order: 2;
    }
    .image-container{
      height: 80%;
      margin-left: 0;

    }
    .imgBorderWraper {
      /* height: 70%; */
      width: 40%;
      margin-left: 0px;
    }
    .imgWraperstrap{
      width: 50%;
    }
  }
  